<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <!--    Nie mam pojęcia czemu to trzeba zakomentować xdd  ^^^^^^^-->

  <%= render 'layouts/shim' %>

</head>

<body>
<%= render 'layouts/header' %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app",  root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "Home", root_path %></li>
        <li> <%= link_to "Help", help_path %></li>
        <li> <%= link_to "Log in", signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>

<!--yield odwołuje się do argumentów przekazanych do metody/bloku np. tutaj od kontrolera?-->